* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.content {
    width: 70%;
    height: 100%;
    border: 1px solid pink;
}

.signin {
    flex: 1 1 350px;
}

.footer {
    background-color: #1f2937;
    flex: 1 1 100px;
}

.top {
    background-color: #1f2937;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}

.top .content {
    display: flex;
    flex-flow: column;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 48px;
    align-items: center;
}

.header ul li {
    color: white;
    font-size: 18px;
}

#logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}

.hero {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.hero_content {
    width: 100%;
    flex: 0 1 300px;
    display: flex;
}

.hero_text {
    flex: 1;
}

.hero_text  h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero_text p {
    font-size: 18px;
    color: #f9faf8;
}

.hero_text button {
    font-size: 18px;
    padding: 4px 32px;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    
    
}

.hero_img {
    flex: 1;
    background-color: cyan;
}

.info{
    flex: 1 1 500px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.info .content {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.card_wrapper {
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.card {
    background-color: tan;
    flex: 1 1 100px;
    height: 100px;
}

.quote {
    background-color: #e5e7eb;
    flex: 1 1 450px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.quote .content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.quote_writer {
    margin-left: auto;
}

.signin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action_box {
    width: 100%;
    height: 40%;
    background-color: aqua;
    display: flex;
}

.action_text {
    flex: 1 1 75%;
    background-color: orange;
}

.action_button {
    flex: 1 1 25%;
    background-color: coral;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lime;
}
